<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .carousel-container {
        margin: auto;
        width: 800px;
        overflow: hidden;
      }
      .carousel-slide {
        display: flex;
        width: 100%;
        height: 500px;
      }
    </style>
  </head>
  <body>
    <div class="carousel-container">
      <div class="carousel-slide">
        <img
          src="https://cdn.pixabay.com/photo/2014/11/03/10/44/camera-514992_960_720.jpg"
          alt="5"
          id="lastClone"
        />
        <img
          src="https://cdn.pixabay.com/photo/2016/01/19/17/34/camera-1149767_960_720.jpg"
          alt="1"
        />
        <img
          src="https://cdn.pixabay.com/photo/2013/11/28/10/02/photo-camera-219958_960_720.jpg"
          alt="2"
        />
        <img
          src="https://cdn.pixabay.com/photo/2014/07/31/22/50/photographer-407068_960_720.jpg"
          alt="3"
        />
        <img
          src="https://cdn.pixabay.com/photo/2014/07/31/23/28/woman-407168_960_720.jpg"
          alt="4"
        />
        <img
          src="https://cdn.pixabay.com/photo/2014/11/03/10/44/camera-514992_960_720.jpg"
          alt="5"
        />
        <img
          src="https://cdn.pixabay.com/photo/2016/01/19/17/34/camera-1149767_960_720.jpg"
          alt="1"
          id="firstClone"
        />
      </div>
    </div>
    <button id="prevBtn">Prev</button>
    <button id="nextBtn">Next</button>

    <script>
      const carouselSlide = document.querySelector(".carousel-slide");
      const carouselImages = document.querySelectorAll(".carousel-slide img");

      const prevBtn = document.querySelector("#prevBtn");
      const nextBtn = document.querySelector("#nextBtn");

      let counter = 1;
      const size = carouselImages[0].clientWidth;

      carouselSlide.style.transform = "translateX(" + -size * counter + "px)";

      nextBtn.addEventListener("click", () => {
        if (counter >= carouselImages.length - 1) return;
        carouselSlide.style.transition = "transform 0.4s ease-in-out";
        counter++;
        carouselSlide.style.transform = "translateX(" + -size * counter + "px)";
      });

      prevBtn.addEventListener("click", () => {
        if (counter <= 0) return;
        carouselSlide.style.transition = "transform 0.4s ease-in-out";
        counter--;
        carouselSlide.style.transform = "translateX(" + -size * counter + "px)";
        console.log(
          (carouselSlide.style.transform =
            "translateX(" + -size * counter + "px)")
        );
      });

      carouselSlide.addEventListener("transitionend", () => {
        if (carouselImages[counter].id === "lastClone") {
          carouselSlide.style.transition = "none";
          counter = carouselImages.length - 2;
          carouselSlide.style.transform = `translateX(${-size * counter}px)`;
        }

        if (carouselImages[counter].id === "firstClone") {
          carouselSlide.style.transition = "none";
          counter = carouselImages.length - counter;
          carouselSlide.style.transform = `translateX(${-size * counter}px)`;
        }
      });
    </script>
  </body>
</html>
